body {
  min-height: 100vh;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.bg-navbar {
  font-weight:bold;
  background-image: linear-gradient(DarkBlue, Indigo);
  padding: 0 1%;
}


.container-website {
  padding: 0;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.logobar {
  padding: 5px 0;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: auto;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-item {
  padding: 0 12px;
  border-left: 1px solid Silver;
  font-family: "Open Sans";
  font-weight: 700;
}

.navbar-brand {
  padding: 0 12px;
}

.logo {
  padding: 5px;
  transition: transform .2s;
  width: 40px;
  height: 40px;
  margin: 2px 3px;
}

.logo-anchor {
 text-decoration: none;
}

.logo:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
