{% extends "app/base.html" %}
{% block content %}
{% load static %}

<div>
    <div class="player-top">
        <img src="{{player.photo}}">
        <h1 class="title pt-2">{{player.full_name}}</h1>
    </div>

    <div>
        <h3 class="text-center bg-sec bg-gradient py-1">PERSONAL INFO</h3>

        <div class="row pt-1">
            <div class="col-md-4 text-center">
                <table class="table table-light">
                    <tr>
                        <td>First Name</td><th>{{player.first_name}}</th>
                    </tr>
                    <tr>
                        <td>Last Name</td><th>{{player.last_name}}</th>
                    </tr>
                    <tr>
                        <td>Nationality</td><th>
                        <img class="flag border" src="/static/flags/{{flag}}.png"> {{player.nationality}}</th>
                    </tr>
                    <tr>
                        <td>Team</td>
                        <th> { % if player.team %}
                            <a class='table-anchor' href="{%url 'team_main' player.team.id %}">
                            <img class='table-logo' src="{{player.team.logo}}"> {{player.team.name}}
                            </a> { % else %} None { % endif %}
                        </th>
                    </tr>

                </table>
            </div>
            <div class="col-md-4 text-center border-end border-start">
                <table class="table table-light">
                    <tr>
                        <td>Position</td><th>{{player.position}}</th>
                    </tr>
                    <tr>
                        <td>Date of Birth</td><th>{{player.birth_date}} ({{player.age}})</th>
                    </tr>
                    <tr>
                        <td>Height</td><th>{%if player.height %} {{player.height}} cm {% else %} - {% endif %}</th>
                    </tr>
                    <tr>
                        <td>Weight</td><th>{%if player.weight %} {{player.weight}} kg  {% else %} - {% endif %}</th>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}