{% extends "app/base.html" %}
{% load static %}
{% block content %}
{% load custom_filters %}

<div class="row">
    <div class="col-md-8 pt-3">
        <div class="ps-3">
            <h1>
                Summary of the {{round_num|ordinal}} round of Ekstraklasa.
            </h1>
            <h4 class="text-bold pt-3">
                The {{round_num|ordinal}} round of the Ekstraklasa has concluded with
                {% if games|length == 9 %}
                all nine matches
                {% else %}
                {{games|length}} of nine matches
                {% endif %}
                delivering a
                spectacle of football that left fans on the edge of their seats. From nail-biting encounters to goal
                fests, this round had it all.
            </h4>
            <div class="pt-2">
                <table class="table table-light table-results">
                {% for game in games %}
                <tr>
                    <td class="fs-6">{{game.date|date:"j N"}} {{game.date|date:"H:i"}}</td>
                    <td class="text-end fs-6">
                        {{game.team_home}} <img class='table-logo' src="{{game.team_home.logo}}">
                        {% for goal in game.game_goals.all %}
                        {% if goal.team_scored == game.team_home %}
                        <p class="my-0 text-muted"><small>{{goal.scorer.full_name}}{{goal.own_goal_scorer.full_name}}
                            {{goal.minute}}{% if goal.minute_extra %}+{{goal.minute_extra}}{%endif%}'
                            {% if goal.own_goal %} (og.){% elif goal.penalty %} (p){% endif %}
                        </small></p>
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td class="text-center fs-5">{{game.result}}</td>
                    <td class="text-start fs-6">
                        <img class='table-logo' src="{{game.team_away.logo}}"> {{game.team_away}}
                                                {% for goal in game.game_goals.all %}
                        {% if goal.team_scored == game.team_away %}
                        <p class="my-0 text-muted"><small>{{goal.scorer.full_name}}{{goal.own_goal_scorer.full_name}}
                            {{goal.minute}}{% if goal.minute_extra %}+{{goal.minute_extra}}{%endif%}'
                            {% if goal.own_goal %} (og.){% elif goal.penalty %} (p){% endif %}
                        </small></p>
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>

                {% endfor %}
                </table>
            </div>
            <div>
                In summary, the latest round of the Ekstraklasa treated fans to an array of captivating matches,
                producing a total of {{total_goals}} goals. From high-scoring encounters to tightly contested
                draws, the league continues to showcase the competitive spirit of Polish football. As teams look ahead
                to the next fixtures, the race for the top spot intensifies, promising more excitement for fans
                in the upcoming matches.

                {% if own_goals|length == 1 %}
                <br><br>However, the round saw an unexpected twist as {{own_goals.0.full_name}} of
                {{own_goals.0.team.name}} scored an own goal. The question now lingers: will this incident negatively
                impact {{own_goals.0.team.name}}'s position in the table, or will it remain without
                significant consequences?
                {% elif own_goals|length > 1 %}
                <br><br>However, the round saw an unexpected twist as {% for og in own_goals %}{{og.full_name}} of
                {{og.team.name}}, {% endfor %}scored an own goal. The question now lingers: will this incident
                negatively impact team's position in the table, or will it remain without
                significant consequences?
                {% endif %}
            </div>

        </div>
    </div>
    <div class="col-md-4 pt-3">
        <h3 class="title text-center bg-secondary bg-gradient py-1">ROUND {{round_num}} STATS</h3>
        <table class="table table-light">
            <tr>
                <td>Games Played</td>
                <th>{{num_games}}/9</th>
            </tr>
            <tr>
                <td>Goals</td>
                <th>{{total_goals}}</th>
            </tr>
            <tr>
                <td>Goals per game</td>
                <th>{{goals_per_game}}</th>
            </tr>
            <tr>
                <td>First goal minute</td>
                <th>{{first_goal_minute}}'</th>
            </tr>
            <tr>
                <td>Local team won</td>
                <th>{{score_stats.home}} ({{score_stats.home|percent:num_games}})%</th>
            </tr>
            <tr>
                <td>Draws</td>
                <th>{{score_stats.draw}} ({{score_stats.draw|percent:num_games}})%</th>
            </tr>
            <tr>
                <td>Visitor team won</td>
                <th>{{score_stats.away}} ({{score_stats.away|percent:num_games}})%</th>
            </tr>
        </table>
        <h3 class="title text-center bg-secondary bg-gradient py-1">TOP PLAYERS</h3>
        <table class="table table-light">
            <tr><th>Player</th><th>G</th><th>A</th><th class="text-center">G + A</th></tr>
            {% for player in players_stats %}
            <tr>
                <td><a href="{%url 'player_main' player.id %}">{{player.full_name}}</a></td>
                <td>{{player.goals}}</td>
                <td>{{player.assists}}</td>
                <td class="text-center">{{player.combined_goals_assists}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock content %}