{% extends "app/base.html" %}
{% block content %}
{% load static %}
{% load custom_filters %}

<div>
    <div class="stats-top">
    <img class="stats-logo" src="{% static 'app/ekstraklasa-logo.png' %}" alt="Ekstraklasa">
    <h1 class="title pt-2">STATISTICS</h1>
    </div>

    <div>
        <h3 class="title text-center bg-secondary bg-gradient py-1">KEY PLAYERS</h3>
        <div class="row pt-1">
            <div class="col-md-4 text-center">
                <table class="table table-light">
                    <tr><th>TOP SCORER</th><th>goals</th></tr>
                    {% for player in scorers %}
                        <tr>
                            <td><a class='table-anchor' href="{%url 'player_main' player.id %}">{{player.full_name}}</a>
                             <img class='table-logo ms-2' src="{{player.team.logo}}"></td>
                            <td>{{player.goals_count}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-4 text-center border-end border-start">
                <table class="table table-light">
                    <tr><th>TOP ASSISTANT</th><th>assists</th></tr>
                    {% for player in assists %}
                        <tr>
                            <td><a class='table-anchor' href="{%url 'player_main' player.id %}">{{player.full_name}}</a>
                            <img class='table-logo ms-2' src="{{player.team.logo}}"></td>
                            <td>{{player.assists_count}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-4 text-center">

                 <table class="table table-light">
                     <tr><th>TOP COMBINED</th><th>goals + assists</th></tr>
                    {% for player in canadian %}
                        <tr>
                            <td><a class='table-anchor' href="{%url 'player_main' player.id %}">{{player.full_name}}</a>
                            <img class='table-logo ms-2' src="{{player.team.logo}}"></td>
                            <td>{{player.canadian_count}}</td>
                        </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
        <div class="pt-3">
            <h3 class="title text-center bg-secondary bg-gradient py-1">GOALS STATISTICS</h3>
            <div class="row pt-1">
                <div class="col-md-4 text-center">
                    <table class="table table-light">
                        <tr><th>GOALS PER GAME</th><th></th></tr>
                            <tr>
                                <td>Full Season</td>
                                <td>{{goals_per_game}}</td>
                            </tr>

                    </table>
                </div>
                <div class="col-md-4 text-center border-end border-start">
                    <table class="table table-light">
                        <tr><th>Goals by 15-min. segment</th><th></th><th></th></tr>
                        {% for interval, count in goals_15.items|dictsort:0 %}
                            <tr>
                                <td>{{interval|add:"-14"}} - {{interval}}</td>
                                <td>{{count}}</td>
                                <td>({{count|percent:goals_sum}}%)</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-md-4 text-center">

                     <table class="table table-light">
                         <tr><th>Goals by Half</th><th></th><th></th></tr>
                         <tr>
                             <td>1st Half</td><td>{{goals_45.45}}</td><td>({{goals_45.45|percent:goals_sum}}%)</td>
                         </tr>
                         <tr>
                             <td>2nd Half</td><td>{{goals_45.90}}</td><td>({{goals_45.90|percent:goals_sum}}%)</td>
                         </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>


</div>

{% endblock content %}