{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h1 class="title py-2">Ekstraklasa Season 2023/2024</h1>
    </div>
    <div class="col-md-6 text-center">
      {% csrf_token %}
      {% crispy form form.helper %}
    </div>
  </div>
</div>

<div id="success">

</div>

<div id="loading">
  <img id="loading-gif" src="{% static 'app/loading.gif' %}" alt="loading">
  <p id="loading-text">Table is calculating. Please wait.</p>
</div>

<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script type='text/javascript'>

var create_table = function(data){
  let html = ("<table id='table' class='table table-hover'><thead class='thead-light'><tr><th>Position</th><th>Team</th><th>Played</th><th>Won</th><th>Drawn</th><th>Lost</th><th>GF</th><th>GA</th><th>GD</th><th>Points</th></tr></thead>");
  for (let i = 0; i < 18; i++) {
    for (const [key, value] of Object.entries(data.data[i])) {
      if (value.position == 1) {
        html +=("<tr class='table-success'>");
      } else if (value.position == 2 || value.position == 3) {
        html +=("<tr class='table-active'>");
       } else if (value.position > 15) {
        html +=("<tr class='table-danger'>");
      } else {
        html +=("<tr>");
      }
      html +=("<td>" +value.position+ "</td>");
      var url ="{% url 'team_main' 1234 %}".replace(/1234/, value.team_id.toString());
      html +=("<td><a class='table-anchor' href='"+url+"'><img class='table-logo me-2' src='"+value.logo+"'>" +key+ "</a></td>");
      html +=("<td>" +value.total_matches+ "</td>");
      html +=("<td>" +value.total_wins+ "</td>");
      html +=("<td>" +value.total_draws+ "</td>");
      html +=("<td>" +value.total_loses+ "</td>");
      html +=("<td>" +value.total_goals+ "</td>");
      html +=("<td>" +value.total_goals_lost+ "</td>");
      html +=("<td>" +value.goal_difference+ "</td>");
      html +=("<td class='fw-bold'>" +value.total_points+ "</td>");
      html +=("</tr>");
    }
  }
  html += "</table>"
  $('#success').html(html);
}

var replace_data = function(data){
        $('#success').show();
        $('#loading').hide();
        create_table(data);
}

$(document).ready(function(){
  $("#success").hide();
  $.ajax({
    url: '{% url "process_table" %}',
    success: function(data){
    replace_data(data);
    }
  });
});

$(function() {
  $('#table-form').on('submit', function(event) {
    event.preventDefault();
    $("#success").hide();
    $('#loading').show();
    $.ajax({
      url: '{% url "process_table" %}',
      data: $(this).serialize(),
      dataType: 'json',
      success: function(data){
      replace_data(data);
      }
    });
  });
});


</script>

{% endblock content %}