{% extends "app/base.html" %}
{% block content %}
{% load static %}
<div>
    <div class="team-top">
        <img src="{{team.logo}}">
        <h1 class="title pt-2">{{team.name}}</h1>
    </div>

    <div class="tab-bar mb-3">
      <button id="overviewBtn" class="tab-button">Overview</button>
      <button id="squadBtn" class="tab-button">Squad</button>
      <button id="resultsBtn" class="tab-button">Results</button>
      <a class="a-clean" href="{% url 'team_stats' team.id %}">
          <button id="statsBtn" class="tab-button">Statistics</button>
      </a>
    </div>


    <div id="overview" class="tab-content tab-hide">
        <div class="row pt-1">
            <div class="col-md-5">
                <table class="table table-light">
                    <tr><td>Name</td><th>{{ team.name }}</th></tr>
                    <tr><td>Founded</td><th> {{ team.founded }}</th></tr>
                    <tr><td>Official Website</td><th><a href="{{team.website}}">{{ team.website }}</a></th></tr>
                    <tr><td>Stadium</td><th> {{ team.stadium }}</th></tr>
                    <tr><td>Home City</td><th> {{team.city }}</th></tr>
                    <tr><td>Capacity</td><th>{{ team.capacity }}</th></tr>
                </table>
            </div>
            <div class="col-md-7 text-center">
                <img class="team-stadium-photo" src="{{ team.stadium_photo }}">
            </div>
            <p class="ms-2 pb-1 border-bottom">History</p>
            <div class="ms-2 mt-2">{{team.overview|safe}} </div>
        </div>
    </div>

    <div id="squad" class="tab-content tab-hide">
            {% for position, players in players.items %}
            <h3 class="pt-1 pb-3 fw-bold">{{position}}s</h3>
            <div class="row row-cols-auto">
                {% for player in players %}
                <a class='table-anchor' href="{%url 'player_main' player.id %}">
                    <div class="col center-block text-center player-photo">
                        <img src="{{player.photo}}"><p class="fs-5 fw-light border-bottom pt-1">{{player.full_name}}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
            {% endfor %}
    </div>

    <div class="tab-content tab-hide" id="results">
        {% if games %}
        <table class="table table-light table-results">
            {% for game in games %}
            <tr>
                <td class="table-dark">{{game.date|date:"j N"}}<br>{{game.date|date:"H:i"}}</td>
                 <td class="text-end fs-6">
                        {{game.team_home}} <img class='table-logo' src="{{game.team_home.logo}}">
                        {% for goal in game.game_goals.all %}
                        {% if goal.team_scored == game.team_home %}
                        <p class="my-0 fw-light"><small>{{goal.scorer.full_name}}{{goal.own_goal_scorer.full_name}}
                            {{goal.minute}}{% if goal.minute_extra %}+{{goal.minute_extra}}{%endif%}'
                            {% if goal.own_goal %} (og.){% elif goal.penalty %} (p){% endif %}
                        </small></p>
                        {% endif %}
                        {% endfor %}
                    </td>
                 <td class="text-center fs-5">{{game.result}}<br><p class="fw-light fs-6">({{game.halftime}})</p></td>
                 <td class="text-start fs-6">
                     <img class='table-logo' src="{{game.team_away.logo}}"> {{game.team_away}}
                                                {% for goal in game.game_goals.all %}
                     {% if goal.team_scored == game.team_away %}
                     <p class="my-0 fw-light"><small>{{goal.scorer.full_name}}{{goal.own_goal_scorer.full_name}}
                            {{goal.minute}}{% if goal.minute_extra %}+{{goal.minute_extra}}{%endif%}'
                            {% if goal.own_goal %} (og.){% elif goal.penalty %} (p){% endif %}
                     </small></p>
                     {% endif %}
                     {% endfor %}
                 </td>
            </tr>
            {% endfor %}
        </table>

        {% else %}
        <p>no games already played</p>
        {% endif %}
    </div>

</div>

<script nonce="{{request.csp_nonce}}">
var openTab = function(event, tab) {
  var i, tablinks;
  var x = document.getElementsByClassName("tab-content");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tab-button");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tab).style.display = "block";
  event.currentTarget.className += " active";
}

$( "#squadBtn" ).on( "click", function(event) {
  openTab(event, 'squad');
} );

$( "#resultsBtn" ).on( "click", function(event) {
  openTab(event, 'results');
} );

$( "#overviewBtn" ).on( "click", function(event) {
  openTab(event, 'overview');
} );

$(document).ready(function(){
  document.getElementById("{{tab}}"+"Btn").click();
});

</script>

{% endblock content %}