body {
  min-height: 100vh;
  padding: 0;
  background-color: #f9f9f9;
}

* {
  box-sizing: border-box;
}

.bg-navbar {
  font-weight:bold;
  background-image: linear-gradient(DarkBlue, Indigo);
  padding: 0 1%;
}


.container-website {
  padding: 0;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.logobar {
  padding: 5px 0;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: auto;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-item {
  padding: 0 12px;
  border-left: 1px solid Silver;
  font-family: "Open Sans";
  font-weight: 700;
}

.navbar-brand {
  padding: 0 12px;
}

.logo {
  padding: 5px;
  transition: transform .2s;
  width: 40px;
  height: 40px;
  margin: 2px 3px;
}

.logo-anchor {
  text-decoration: none;
}

.logo:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.table-anchor {
  text-decoration: none;
  color: black;
}

.table-anchor:hover {
  text-decoration: none;
  color: #453f3d;
}

.table-logo {
  width: 20px;
  height: 20px;
}

.title {
font-family: Impact, sans-serif;
}

#loading-gif {
  width: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#loading-text {
  text-align:center;
  padding: 3% 0;
  font-family: Helvetica, sans-serif;
}

.team-top {
 background: url("/static/app/team-bg.png");
 padding: 20px;
}

.team-stadium-photo {
  width: 500px;
  max-height:260px;
}

.tab-hide {
  display: none;
}

.tab-display {
  display: block;
}

.tab-button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab-bar {
 overflow: hidden;
 border-bottom: 1px solid #ccc;

}

/* Change background color of buttons on hover */
.tab-bar button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab-bar button.active {
 background-color: #ccc;
}

.table-results {
 width: 600px;
 margin-left: 2%;
}

.player-photo {
  transition: transform .2s;
}

.player-photo-anchor {
  text-decoration: none;
}

.player-photo:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
 }

.stats-logo {
  width: 150px;
  height: 150px;
}

.stats-top {
 background: url("/static/app/stats-bg.png");
 padding: 20px;
}